/* Encabezado amarillo */
#tblProveedor thead.table-light{
  --bs-table-bg: #ffc107;
  --bs-table-color:#fff;
  --bs-table-border-color: rgba(255,255,255,.25);
  background:#ffc107!important;
  color:#fff!important;
}
#tblProveedor thead.table-light th{
  color:#fff!important;
}

/* TOASTS (CORRECTO) */
.nvtoast-host{
  position:fixed;
  right:16px;
  bottom:16px;
  display:flex;
  flex-direction:column;
  gap:10px;
  z-index:2000;
}
.nvtoast{
  min-width:280px;
  max-width:420px;
  padding:10px 12px;
  border-radius:12px;
  box-shadow:0 6px 20px rgba(0,0,0,.18);
  display:flex;
  align-items:center;
  gap:10px;
  color:#fff;
}
.nv-success{background:#198754;}
.nv-danger{background:#dc3545;}
.nv-warning{background:#ffc107; color:#000;}
.nv-info{background:#0d6efd;}